// @import "_mixin";

*{
    box-sizing: border-box;
}


.dMainContainer{      
                svg{
                    font-size: 2.8rem;
                    color: #00d8ff;
                    margin-right: 0.3rem;
                } 
}







.dTeam, .dPersonal{
                svg{
                    font-size: 2.5rem;
                    color: white;
                    margin-right: 0.4rem;
                }  
}


.dActive{
    color: #19aac3ea;  // Highlight active item with red text
    background-color: rgba(255, 255, 255, 0.108);  // Optional background color change for active item
    border-color: #19a9c3ea; 
    svg{
        color: #19a9c3ea;
    } 
}

.dtos{
    position: absolute;
    width: 100%;
    height: 10px;
}

.dLeaderBoardContainer{
    overflow-y: auto;   
    margin-top: -1rem;
    &::-webkit-scrollbar{
        display: none;
    }
    @media screen and (min-width: 768px){
        max-height: 571px;
    }
}



.dSetting{         
                svg{
                    font-size: 2.5rem !important;
                    margin-right: 2.5rem !important; 
                }
}


.dNotification{
    >.dNotList{
        >ul{
            &::-webkit-scrollbar {
                display: none;
            }
            max-height:490px ;


        }
    }
    
}

.ddivider{
    background-color: white;
    
    @media screen and (max-width:767px) {
      display: none;
    }
  }


