@import "_mixin";


.dNotification{
    @include grid(1fr 0.01fr 3.3fr);
    margin-top:0.6rem ;
    height: 97%;
    >.dNotList{
        >h4{
            margin-bottom: 0.7rem;
            @include title(0,800,1rem,#00d8ff)
        }
        >ul{
            @include flex(column,unset,unset,1rem);
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            max-height:490px ;
            >li{
                cursor: pointer;
                background-color: white;
                padding: 0.5rem 1rem;
                border-radius: 14px;
                z-index: 10;
                >p{
                    @include title(0,700,1rem,black)
                }
            }
        }
    }

    >.dmessage{
         margin: 1rem;
         background-color: white;
         border-radius: 16px;
         padding: 1.5rem;
         z-index: 10;
         >p{
             font-size: 0.9rem;
             font-weight: 500;
         }
    }

    
}


.dContact{
    height: 100%;

    >h2{
        @include title(0,700,1.45rem,#00d8ff);
        margin-bottom: 1rem;
        text-align: center
    }
    
    >form{
        @include flex(column,unset,center,2rem);
        input,textarea{
            width: 100%;
            border: 2px solid #00d8ff;
            border-radius: 14px;
            padding-left: 2rem;
            background-color: black;
            z-index: 10;
            
        }


        >button{
            background-color: black;
            @include title(0,600,1.15rem,#00d8ff);
            border: 2px solid #00d8ff;
            border-radius: 25px;
            padding: 0.5rem 2.5rem;
        }
    }
}

.dLeaderBoardContainer{
    overflow-y: auto;

    max-height: 571px;
    margin-top: -1rem;
    &::-webkit-scrollbar{
        display: none;
    }
}



.dSetting{
    >h2{
        @include title(0,700,1.45rem,#00d8ff);
        text-align: center;
    }
    >ul{
        width: 50%;
        @include flex(column,unset,center,3.5rem);
        margin: auto;
        margin-top: 4rem;
        >li{
            width: 100%;
            padding: 0.75rem 2.5rem;
            border: 3.5px dashed black;
            border-radius: 13px;
            z-index: 10;
            >a{
                @include flex(row,unset);
                @include title(0,500,1.3rem,white,capitalize);
                >svg{
                    font-size: 2.5rem;
                    color: #00d8ff;
                    margin-right: 2.5rem;
                }

            }
        }
    }
}