@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

html {
    background: #000;
}

.bg-profile {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./assets/profile-bg.jpg');;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primary {
    @apply px-7 py-2 my-5 mx-10 bg-[#5CE1E6] text-white rounded hover:bg-[#7E8589] transition-all duration-300 hover:translate-x-3;
}

.payButton{
    @apply bg-[#3d7d12] hover:bg-[#8fff44]  text-white hover:text-black font-bold rounded-3xl px-6 py-3 mt-6 ;
}